<template>
  <div class="container-fluid">
    <h1 style="color:red">{{ pageTitle }}</h1>
    <client-only>
      <component
        :is="apexchart"
        :key="dontChange"
        type="bar"
        width="100%"
        height="600px"
        :options="options"
        :series="series"
      />
    </client-only>

    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <b-form-group>
            <b-form-radio-group
              id="btn-radios-dimension"
              v-model="dimention"
              :options="dimentions"
              buttons
              name="radio-btn-dimensions"
            ></b-form-radio-group>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-pagination
            v-model="pageIndex"
            :total-rows="seriesLength"
            :per-page="pageSize"
            :hide-ellipsis="true"
            :hide-goto-end-buttons="true"
            style="direction: rtl;"
          ></b-pagination>

          <b-form-group>
            <b-form-radio-group
              id="btn-radios-2"
              v-model="subject"
              :options="subjects"
              buttons
              name="radio-btn-subjects"
            ></b-form-radio-group>
          </b-form-group>
          <b-form-group>
            <b-form-radio-group
              id="btn-radios-2"
              v-model="measurement"
              :options="measurements"
              buttons
              name="radio-btn-measurements"
            ></b-form-radio-group>
          </b-form-group>

          <ThePopulationDropdown :level-name="levelName" :min-pop="minPop" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import consola from 'consola'
// eslint-disable-next-line no-unused-vars
// import loading from '~/components/loading'
import ThePopulationDropdown from '~/components/ThePopulationDropdown'

export default {
  components: {
    ThePopulationDropdown
  },
  key: '_bar',
  props: {},
  data() {
    return {
      minPop: 0,
      dataLoading: false,
      dontChange: 'dontChange',
      dimentions: [
        { text: 'time', value: 'time' },
        { text: 'location', value: 'logation' }
      ],
      dimention: 'time',
      subjects: [
        { text: 'cases', value: 'cases' },
        { text: 'deaths', value: 'deaths' }
      ],
      subject: 'cases',
      measurements: [
        { text: 'totals', value: 'total' },
        { text: 'percentages', value: 'percentage' },
        { text: 'week over week change', value: 'wow' }
      ],
      measurement: 'total',
      pageIndex: 1,
      startIndex: 0,
      seriesLength: 0,
      pageSize: 20,
      regions: [],
      regionsHaveChildren: [],
      suffix: '',
      options: {
        plotOptions: {
          bar: {
            horizontal: true
          }
        },
        xaxis: {
          categories: []
        }
      },
      legend: {
        show: false
      },
      series: [
        {
          name: 'Region',
          data: []
        }
      ]
    }
  },
  computed: {
    apexchart() {
      return () => {
        if (process.client) {
          return import('vue-apexcharts')
        }
      }
    },

    pageTitle() {
      return (
        this.$route.params.state +
        ' ' +
        this.$route.params.nation +
        ' ' +
        this.measurement +
        ' coronavirus ' +
        this.subject
      )
    },
    levelName: {
      get() {
        if (this.$route.params.nation) {
          if (this.$route.params.state) {
            return 'state'
          }
          return 'nation'
        }
        return 'world'
      },
      set(newValue) {
        if (newValue !== 'world') {
          this.minPop = 0
        }
      }
    }
  },
  watch: {
    dimention(newValue) {
      this.updateChart()
    },
    subject(newValue) {
      this.updateChart()
    },
    measurement(newValue) {
      this.suffix = newValue === 'total' ? '' : '%'

      this.updateChart()
    },
    minPop(newValue) {
      this.updateChart()
    },
    pageIndex(newValue) {
      this.updatePaginatedData()
    },
    watch: {
      $route(to, from) {
        // react to route changes...
      }
    }
  },
  created() {
    this.updateChart(this.measurement, this.levelName)
  },
  methods: {
    selectRegion(regionName) {
      const hasSubregions = this.regionsHaveChildren.some(
        (el) => el.regionName === regionName && el.hasSubregions
      )
      if (!hasSubregions) {
        return
      }
      if (this.levelName === 'world') {
        this.levelName = 'nation'
        this.$router.push({
          path: '/' + regionName
        })
        this.updateChart()
      } else if (this.levelName === 'nation') {
        this.levelName = 'state'
        this.$router.push({
          path: '/' + this.$route.params.nation + '/' + regionName,
          query: { plan: 'private' }
        })
        this.updateChart()
      } else if (this.levelName === 'state') {
        consola.error('can not click on countyName')
      }
    },
    getRegionsPage(regions, startIndex, pageSize) {
      let from = regions.length - (pageSize + startIndex)
      from = from < 0 ? 0 : from
      return regions.slice(from, regions.length - startIndex)
    },
    getAllUSCounties() {
      this.regions = this.$store.getters.getAllUSCounties()
    },
    updatePaginatedData() {
      this.startIndex = (this.pageIndex - 1) * this.pageSize

      const regions = this.getRegionsPage(
        this.regions,
        this.startIndex,
        this.pageSize
      )
      const regionNames = this.getRegionNames(regions, this.levelName)
      this.options = this.getOptions(regions, regionNames, 'K')
      this.series = this.getSeries(regions, 'Confirmed Cases')
      this.updateRegionsHaveChildren(regions)
    },
    updateChartWithTimeSeries() {
      consola.log(
        'looking at vuex with',
        this.subject,
        this.$route.params.nation,
        this.$route.params.state,
        this.$route.params.county
      )
      this.result = this.$store.getters['time/newCases'](
        this.subject,
        this.$route.params.nation,
        this.$route.params.state,
        this.$route.params.county
      )
      consola.log('this.result', this.result)
      this.options = this.getOptions(
        this.result.data,
        this.result.dates,
        '',
        true
      )

      this.series = [
        {
          data: this.result.data,
          name: 'Confirmed Cases'
        }
      ]

      this.updateRegionsHaveChildren(this.result.data)
    },
    updateChartWithLocationData() {
      const allUSCounties = false

      this.regions = this.$store.getters['data/' + this.measurement](
        this.subject,
        this.$route.params.nation,
        this.$route.params.state,
        this.minPop,
        allUSCounties
      )

      this.seriesLength = this.regions.length

      const regions = this.getRegionsPage(
        this.regions,
        this.startIndex,
        this.pageSize
      )

      const regionNames = this.getRegionNames(
        regions,
        this.levelName,
        allUSCounties
      )

      this.options = this.getOptions(regions, regionNames, this.suffix)

      this.series = this.getSeries(regions, 'Confirmed Cases')

      this.updateRegionsHaveChildren(regions)
    },
    updateChart() {
      this.pageIndex = 1
      this.startIndex = 0
      if (this.dimention === 'time') {
        this.updateChartWithTimeSeries()
      } else {
        this.updateChartWithLocationData()
      }
    },
    updateRegionsHaveChildren(regions) {
      this.regionsHaveChildren = regions.map((el) => {
        return { regionName: el.regionName, hasSubregions: el.hasSubregions }
      })
    },
    getComparisonTimeSeries(a, b, seriesLength) {
      return [
        {
          name: a,
          data: this.$store.getters.nationCasesValuesTimeSeries(a, 1000, 10)
        },
        {
          name: b,
          data: this.$store.getters.nationCasesValuesTimeSeries(b, 1000, 10)
        }
      ]
    },
    /*
    getTimeSeriesOptions(seriesLength) {
      return {
        chart: {
          type: 'bar',
          animations: this.getAnimationsOptions()
        },
        dataLabels: {
          enabled: false
        },

        plotOptions: this.getPlotOptions(),
        colors: this.getTimeSerieColors(),
        yaxis: this.getYAxisOptionsPercent(),
        xaxis: {
          type: 'category',
          categories: this.$store.getters.datesTimeSeries(this.seriesLength)
        }
      }
    },
    */
    getAnimationsOptions() {
      return {
        enabled: true,
        easing: 'linear',
        speed: 100,
        animateGradually: {
          enabled: false,
          delay: 50
        },
        dynamicAnimation: {
          enabled: true,
          speed: 100
        }
      }
    },
    getRegionNames(regions, levelName, allUSCounties) {
      if (allUSCounties) {
        return regions.map((el) => el.countyName + ', ' + el.stateName)
      } else if (levelName === 'world') {
        return regions.map((el) => el.nationName)
      } else if (levelName === 'nation') {
        return regions.map((el) => el.stateName)
      } else if (levelName === 'state') {
        return regions.map((el) => el.countyName)
      }
    },
    getSeries(regions, regionsName) {
      return [
        {
          name: regionsName,
          data: regions.map((el) => el.value)
        }
      ]
    },
    getOptions(regions, regionNames, labelSuffix, isTimeSeries) {
      return {
        chart: {
          foreColor: '#999',
          events: {
            dataPointSelection: (event, chartContext, config) => {
              if (this.levelName === 'state') {
                return
              }
              this.selectRegion(
                config.w.config.xaxis.categories[config.dataPointIndex]
              )
            }
          }
        },
        plotOptions: {
          bar: {
            columnWidth: '85%',
            horizontal: false,
            distributed: true,
            dataLabels: {
              position: 'top'
            }
          }
        },
        colors: regions.map((el) => (el.hasSubregions ? '#007bff' : '#4D6277')),
        dataLabels: {
          enabled: !isTimeSeries,
          color: '#ddd',
          formatter(val, opts) {
            if (labelSuffix === '%') {
              return val + '%'
            }
            return val < 1000
              ? val
              : (Math.round(val * 10) / 10000).toFixed(1) + labelSuffix
          },
          offsetY: -18
        },
        xaxis: {
          axisTicks: {
            show: false
          },
          categories: regionNames
        },
        yaxis: {
          floating: false,
          labels: {
            formatter(val) {
              if (labelSuffix === '%') {
                return val.toFixed(2) + '%'
              }
              return val
            }
          }
        },
        legend: {
          show: false
        },
        toolbar: {
          show: false
        }
      }
    }
  }
}
</script>

<style>
.apexcharts-canvas {
  background-color: #000;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.apexcharts-bar-area2,
path[fill='rgba(0,123,255,0.85)'] {
  cursor: pointer;
}

.region-a option {
  margin: 40px;
  background-color: #f00;
  color: #fff;
}

.region-b option {
  margin: 40px;
  background: #00f;
  color: #fff;
}
</style>
