<template>
  <b-dropdown
    id="nationName-population-filter"
    :v-if="levelName === 'world'"
    right
    :text="minPopText"
  >
    <b-dropdown-item-button @click="minPop = 125000000"
      >Pop. 125M+</b-dropdown-item-button
    >
    <b-dropdown-item-button @click="minPop = 10000000"
      >Pop. 10M+</b-dropdown-item-button
    >
    <b-dropdown-item-button @click="minPop = 1000000"
      >Pop. 1M+</b-dropdown-item-button
    >
    <b-dropdown-item-button active @click="minPop = 0"
      >All Nations</b-dropdown-item-button
    >
  </b-dropdown>
</template>
<script>
export default {
  props: {
    levelName: {
      default: '',
      type: String
    },
    minPop: {
      default: 0,
      type: Number
    }
  },
  computed: {
    minPopText() {
      return 'Population of ' + this.formatNumberMagnitude(this.minPop) + '+'
    }
  },
  methods: {
    formatNumberMagnitude(num) {
      switch (num) {
        case num >= 1000000:
          return (num / 1000000).toFixed(2) + 'M'
        case num >= 1000:
          return (num / 1000).toFixed(1) + 'M'
        default:
          return num
      }
    }
  }
}
</script>
