<template>
  <div>
    <TheChart key="dontChange" />
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import consola from 'consola'
import TheChart from '~/components/TheChart'
export default {
  components: {
    TheChart
  },
  data() {
    return {
      dontChange: 'dontChange'
    }
  },
  computed: {
    pageTitle() {
      if (!this.$route.params.nation) {
        return 'World Coronavirus Data by Nation'
      } else if (!this.$route.params.state) {
        if (this.$route.params.nation === 'United States') {
          return 'World Coronavirus Data by Nation'
        }
      }
      return 'Unknown'
    }
  },
  methods: {},
  head() {
    return {
      title: this.pageTitle,
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        {
          hid: 'description',
          name: 'description',
          content: 'Interactive COVID-19 data for ' + this.locationName
        }
      ],
      link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
    }
  }
}
</script>
